.form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  padding: 2rem;
}

.dropdown {
  font-size: 18px;
}

.button {
  font-size: 16px;
}
