.form {
  align-items: center;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}

.dropdown {
  font-size: 18px;
}

.button {
  font-size: 16px;
}
