html {
  background-attachment: fixed;
  background-image: url('../../assets/fallColors-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  padding: none;
}

#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  html {
    background-image: url('../../assets/vertical-background.jpg');
  }
}
