.location-card {
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid black;
  border-radius: 1rem;
  color: #2c3e50;
  width: 300px;
  height: auto;
  margin: 1rem;
  padding: 0.5rem;
}

.location-title {
  margin-bottom: 0.75rem;
}

h3 {
  margin: 0;
}

.weather-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weather-icon {
  width: 80px;
  height: fit-content;
}

.aqi-heading {
  margin: 1rem;
}

.aqi-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

.aqi-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 90px;
  height: 90px;
}

.aqi-rating {
  margin-bottom: 0;
}

.timeStamp {
  color: #2c3e50;
  font-size: .8em;
  margin: 7% 5% 3% 5%;
}

.card-button {
  background-color: inherit;
  border: none;
  color: #2c3e50;
}

.button-delete {
  float: right;
  font-size: 22px;
}

.button-delete-container {
  padding-bottom: 5%;
}

.button-delete:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 10px;
}

.button-refresh {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-decoration: underline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-refresh:hover {
  font-style: italic;
  cursor: pointer;
}

.button-allTrails {
  background-color: #034001;
  border: 1px solid #034001;
  border-radius: 10px;
  margin: 5%;
  padding: 3% 5%;
}

.button-allTrails:hover {
  background-color: #97B481;
  border: 1px solid #97B481;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.button-allTrails:hover > .button-allTrails-text {
  color: black;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
  cursor: pointer;
}

.button-allTrails-text {
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
}

@media screen and (max-width: 320px) {
  .location-card {
    width: 250px;
  }
}
