.button-container {
  display: flex;
  justify-content: space-between;
}

.button-refresh {
  border: none;
  background-color: inherit;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.location-card {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  height: auto;
  width: 300px;
}

.weather-icon {
  width: 80px;
}
