.location-card {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  height: auto;
  width: 300px;
}

.weather-icon {
  width: 80px;
}

.timeStamp {
  font-size: .8em;
  color: gray;
}

.card-button {
  border: none;
  background-color: inherit;
  color: #2c3e50;
}

.button-delete {
  float: right;
  font-size: 22px;
}

.button-delete-container {
  padding-bottom: 5%;
}

.button-delete:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.button-refresh {
  color: gray;
  text-decoration: underline;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-refresh:hover {
  font-style: italic;
  cursor: pointer;
}

.button-allTrails {
  background-color: #428a13;
  border: 1px solid #428a13;
  border-radius: 10px;
  padding: 3%;
}

.button-allTrails:hover {
  cursor: pointer;
  background-color: #97B481;
  border: 1px solid #97B481;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: all 0.4s ease 0s;
}

.button-allTrails-text {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
