header {
  background-color: rgba(245, 245, 245, 0.90);
  color: #2c3e50;
  border-radius: 1rem;
  padding: 2rem;
}

h1 {
  margin: 0.5rem;
}

h2 {
  font-size: x-large;
}

@media screen and (max-width: 600px) {
  header {
    width: 250px;
  }

  h2 {
    font-size: medium;
  }
}

@media screen and (max-width: 320px) {
  header {
    width: 225px;
  }
}
