header {
  background-color: rgba(245, 245, 245, 0.90);
  color: #2c3e50;
  padding: 2rem;
  border-radius: 1rem;
}

h1 {
  margin: .5rem;
}

@media screen and (max-width: 414px) {
  header {
    width: 250px;
  }

  h2 {
    font-size: large;
  }
}

@media screen and (max-width: 320px) {
  header {
    width: 225px;
  }
}