footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 0.65);
  color: #2c3e50;
  margin: 5% 5% 0% 5%;
  border-top: 1px solid #2c3e50;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
