footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 0.90);
  color: #2c3e50;
  margin: 5% 0% 0% 0%;
  border-radius: .35rem;
}

a {
  color: #2c3e50;
  text-decoration: underline;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  font-style: italic;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer {
    width: 95%;
    flex-direction: column;
    padding: 1rem;
  }

  p{
    margin: .25rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    width: 300px;
    font-size: x-small;
    padding: .25rem;
  }
}
