footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5% 5% 0% 5%;
  border-top: 1px solid #2c3e50;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
